[submodule "support/express"]
	path = support/express
	url = http://github.com/visionmedia/express.git
[submodule "support/socketio"]
	path = support/socketio
	url = git://github.com/LearnBoost/Socket.IO-node.git
[submodule "public/js/socketio"]
	path = public/js/socketio
	url = git://github.com/LearnBoost/Socket.IO.git
[submodule "support/redis-node-client"]
	path = support/redis-node-client
	url = http://github.com/fictorial/redis-node-client.git
[submodule "support/connect-auth"]
	path = support/connect-auth
	url = http://github.com/ciaranj/connect-auth.git
[submodule "support/node-oauth"]
	path = support/node-oauth
	url = http://github.com/ciaranj/node-oauth.git
