#container
  #header
    h1
      img(src="/css/img/logo.png", alt="Node Knockout")
    #player-box
      - if (user != null)
        #logged-in-box
          - if (avatar != "undefined")
            img(src: avatar)
          .name Logged in as #{user}
          a(id="logout", href="/logout") Logout when you're dead, sissy 
      - else
        a(id="login", href="#").big-yellow-button.button Sign In
    a(id="vote-button", href='http://nodeknockout.com/teams/nodelicious', title='Help me win Node.js KO!', target="nko")
      img(src="http://nodeknockout.com/images/voteko.png", alt="Help me win Node.js KO!")

  div#container.cols.xi
    div.col.a.top
      #live-action-container
        -//canvas#live-action
        img#live-action-placeholder(src="/css/img/aaron3.png")
    div.col.b.top
      .leaderboard
        h2 Leaderboard 
        h2.kill-label Kills
        ul.leaderboard
          li
            .name Stanco
            .avatar <img src="http://0.gravatar.com/avatar/987da1e668e6eb5cde64b52a477764ec?s=69&d=identicon" alt="avatar">
            .score 12
            .badges
            .rank 1
          li
            .name Loquacious Joe
            .avatar <img src="http://1.gravatar.com/avatar/ab1f64abf81653d5a60d78a86a26bec1?s=69&d=identicon" alt="avatar">
            .score 10
            .badges
            .rank 2
          li
            .name Grindrrr
            .avatar <img src="http://2.gravatar.com/avatar/08fc937ced22467c3b4ec2388c8f0022?s=69&d=identicon" alt="avatar">
            .score 8
            .badges
            .rank 3
          li
            .name ShartMeister
            .avatar <img src="http://1.gravatar.com/avatar/4e84843ebff0918d72ade21c6ee7b1e4?s=69&d=identicon" alt="avatar">
            .score 5
            .badges
            .rank 4
          li
            .name TriggerFinger
            .avatar <img src="http://2.gravatar.com/avatar/c5c64af9b7505777b53e05857616d39f?s=69&d=identicon" alt="avatar">
            .score 1
            .badges
            .rank 5
      div#leaderboard-you.leaderboard
        a(id="start-you", href="/arena").big-yellow-button.small Play!
        ul.leaderboard
          li.you
            .name yourname
            .avatar <img src="http://0.gravatar.com/avatar/987da1e668e6eb5cde64b52a477764ec?s=69&d=identicon" alt="avatar">
            .score 1
            .badges
            .rank 123
        
  div.cols.xi
    .a
      div#twitter-feed.panel
        h2 Nodelicious Updates
        script(src:"http://widgets.twimg.com/j/2/widget.js")
        script(src:"/js/twitterFeed.js")  
  #footer
  
div#login-modal.hidden
  iframe(id="login-iframe", src="https://nodelicious.rpxnow.com/openid/embed?token_url=http%3A%2F%2F"+HOST+"%2Flogin",  scrolling="no",  frameBorder="no",  allowtransparency="true")
  p#login-modal-text Or <a href="#">play anonymously</a> you dirty, no good coward.
	
script(src:"/js/knockout.js")
