!!!
html
  head
    title knockout
    link(rel="stylesheet", href="/css/app.css")
    script(src:"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    script(src:"/js/json.js")
    script(src:"/js/socketio/socket.io.js")
    script(src:"/js/app.js")
  body
    #wrap!= body
