/*Resets*/
p {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

h1,h2 {
	margin: 0px;
}

/*Layout*/
#container {
	margin: auto;
	width: 1200px;
	position: relative;
	margin-bottom: 30px;
}

#footer {
	background-color: silver;
	border: 1px solid black;
	height: 1em;
	clear: both;
	padding-top: 30px;
}

/*Home and Game*/
#vote-button img {
	position: absolute;
	border: 0px;
}
#index #vote-button img {
	top: 7px;
	left:615px;
}

#player-box {
	position: absolute;
	left: 805px;
}

#leave-game {
	position: absolute;
	top: 10px;
	left: 1px;
}

.leaderboard {
	margin-bottom: 50px;
}

#live-action-container {
	height: 490px;
	background-color: green;
	position: relative;
}

#game-info {
	text-align: center;
	height: 1.2em;
	background-color: blue;
}

.bottom-box {
	margin: 15px 0;
}


/* Modals */
#character-selection-container {
	width: 700px;
	position: relative;
	float: left;
}

#character-selection-container #vote-button img{
	top: -10px;
	right: 30px;
}

.character-container {
	float: left;
	height: 200px;
	width: 150px;
	text-align: center;
	padding: 10px;
	border: 2px solid white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	margin-top: 20px;
}

.character-container img {
	height: 180px;
	width:  100px;
}

.character-container span {
	display: block;
}

.character-container.selected {
	border: 2px solid black;
}

.character-container:hover {
	border: 2px solid orange;
}

.character-container.selected:hover {
	border: 2px solid black;
}

#choose-character-button {
	margin: 10px 60px 0 0;
	clear: both;
	float: right;
}

#summary-container {
	text-align: center;
	width: 400px;
}

#summary-container #vote-button img{
	position: static;
}

#summary-leaderboard {
	margin: auto;
	width: 300px;
	padding: 15px;
}

#next-game-button {
	
}







/* helpers */
.hidden {
	display: none;
}

.button {
	display: block;
}

.clear {
	clear: both;
}

.right {
	text-align: right;
}

/* Modal */
#simplemodal-container a.modalCloseImg {
	background:url(img/x.png) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-15px;
	cursor:pointer;
}

#simplemodal-container {
	border: 5px solid black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: white;
}

#simplemodal-overlay {background-color:black;}

#login-iframe {
	width: 400px; 
	height: 170px;
	overflow: hidden;
}

#login-modal-text {
	margin: 0px 43px 15px 43px;
}

/* NESTED COLUMNS */
.col {
	float: left;
	width: 300px;
	margin-top: 30px;
}

.cols {
	height:1%;
	clear:both;}
.cols:after {
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;}
.a { clear:left; }
.a, .b, .c, .d {
	width:24.7%;
	float:left;
	position:relative;}
.cols .cols .a, .cols .cols .b, .cols .cols .c, .cols .cols .d { width:24.7%; }
body .xxx .a, body .xxx .b, body .xxx .c, body .ix .a, body .xi .b, .cols .xxx .a, .cols .xxx .b, .cols .xxx .c, .cols .ix .a, .cols .xi .b { width:33%; }
body .xx .a, body .xx .b, body .xii .a, body .ixi .b, body .iix .c, .cols .xx .a, .cols .xx .b, .cols .xii .a, .cols .ixi .b, .cols .iix .c { width:49.5%; }
body .ix .b, body .xi .a, .cols .ix .b, .cols .xi .a { width:66%; }
body .xxi .a, body .ixx .b, .cols .xxi .a, .cols .ixx .b { width:74.5%; }
.cols {
	margin-right:15px !important;
	width:auto;}
body .xxx, body .xii, body .xii, body .ixi, body .iix { margin-right:30px !important; }
body .xxxx { margin-right:45px !important; }
.b, .cols .cols .b { left:15px; }
.c, .cols .cols .c { left:30px; }
.d, .cols .cols .d { left:45px; }
ul.cols { margin-left:0 !important; }
