/*Resets*/
p {
	padding: 0;
	margin: 0;
}

h1 {
	margin-bottom: 0px;
}

/*Layout*/
#container {
	margin: auto;
	width: 1200px;
	position: relative;
}

#footer {
	background-color: silver;
	border: 1px solid black;
	height: 1em;
	clear: both;
}

/*Elements*/

#vote-button img {
	border: 0px;
	top: 7px;
	left:615px;
	position: absolute;
}

#player-box {
	float: right;
	padding-right: 70px;
}

#leave-game {
	display: none;
	position: absolute;
	top: 75px;
	left: 1px;
}

#this-game {
	display: none;
}


/* helpers */
.hidden {
	display: none;
}


/* Modal */
#simplemodal-container a.modalCloseImg {
	background:url(img/x.png) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-15px;
	cursor:pointer;
}

#simplemodal-container {
	border: 5px solid black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: white;
}

#simplemodal-overlay {background-color:black;}

#login-iframe {
	width: 400px; 
	height: 170px;
}

#login-modal-text {
	margin: 0px 43px 15px 43px;
}

/* NESTED COLUMNS */
.col {
	float: left;
	width: 300px;
	margin-top: 30px;
}

.cols {
	height:1%;
	clear:both;}
.cols:after {
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;}
.a { clear:left; }
.a, .b, .c, .d {
	width:24.7%;
	float:left;
	position:relative;}
.cols .cols .a, .cols .cols .b, .cols .cols .c, .cols .cols .d { width:24.7%; }
body .xxx .a, body .xxx .b, body .xxx .c, body .ix .a, body .xi .b, .cols .xxx .a, .cols .xxx .b, .cols .xxx .c, .cols .ix .a, .cols .xi .b { width:33%; }
body .xx .a, body .xx .b, body .xii .a, body .ixi .b, body .iix .c, .cols .xx .a, .cols .xx .b, .cols .xii .a, .cols .ixi .b, .cols .iix .c { width:49.5%; }
body .ix .b, body .xi .a, .cols .ix .b, .cols .xi .a { width:66%; }
body .xxi .a, body .ixx .b, .cols .xxi .a, .cols .ixx .b { width:74.5%; }
.cols {
	margin-right:15px !important;
	width:auto;}
body .xxx, body .xii, body .xii, body .ixi, body .iix { margin-right:30px !important; }
body .xxxx { margin-right:45px !important; }
.b, .cols .cols .b { left:15px; }
.c, .cols .cols .c { left:30px; }
.d, .cols .cols .d { left:45px; }
ul.cols { margin-left:0 !important; }
